<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%=image_tag "https://s3.amazonaws.com/royalclass/RoyalClassLogo-min.png", :style => "width: 200%; margin-top:20px; margin-left:6vw;"%></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->


  <div class="collapse navbar-collapse" id="myNavbar" style=" border:hidden!important; border-width:0!important;">
    <ul class="nav navbar-nav navbar-right" style="padding-top:20px;">
      <li class="navlink dropdown">
        <button class="navlink-a dropdown-toggle" type="button" id="dropdown-option-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">COMPANY</button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-option-1" id="dropdown-menu-1">
          <li><%= link_to 'OUR<br>COMPANY'.html_safe, company_path, 'data-no-turbolink' => true %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'BACKGROUND', '/company/#background', 'data-no-turbolink' => true %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'HISTORICAL<br>TIMELINE'.html_safe, '/company/#timeline', 'data-no-turbolink' => true %></li>
        </ul>
      </li>
      <li class="navlink dropdown">
        <button class="navlink-a dropdown-toggle" type="button" id="dropdown-option-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">VISION-MISSION</button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-option-2" id="dropdown-menu-2">
          <li><%= link_to 'VISION', '/company/#vision', 'data-no-turbolink' => true %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'MISSION', '/company/#mission', 'data-no-turbolink' => true, onclick:"document.getElementById('mission').style.display='block'" %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'CULTURE OF SERVICE<br>EXCELLENCE'.html_safe, '/company/#customers', 'data-no-turbolink' => true %></li>
        </ul>
      </li>
      <li class="navlink dropdown">
        <button class="navlink-a dropdown-toggle" type="button" id="dropdown-option-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">SUBSIDIARIES</button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-option-3" id="dropdown-menu-3">
          <li><%= link_to 'ROYAL CLASS<br>PETROLEUM'.html_safe, rcp_path, 'data-no-turbolink' => true %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'ROYAL CLASS<br>TRANS CORP.'.html_safe, rct_path, 'data-no-turbolink' => true %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'ROYAL CLASS<br>DEVELOPMENT'.html_safe, rcd_path, 'data-no-turbolink' => true %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'JPGLOBAL<br>VENTURES'.html_safe, jpgv_path, 'data-no-turbolink' => true %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'ROYAL CLASS<br>FOUNDATION'.html_safe, rcf_path, 'data-no-turbolink' => true %></li>
        </ul>
      </li>
      <li class="navlink dropdown">
        <button class="navlink-a dropdown-toggle" type="button" id="dropdown-option-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">CONTACT</button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-option-4" id="dropdown-menu-4">
          <li><%= link_to 'COMPANY<br>NUMBERS'.html_safe, contact_path, 'data-no-turbolink' => true %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'COMPANY<br>EMAILS'.html_safe, '/contact/#emails', 'data-no-turbolink' => true %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'COMPANY<br>ADDRESS'.html_safe, '/contact/#address', 'data-no-turbolink' => true %></li>
        </ul>
      </li>
    </ul>
  </div>
</div><!-- /.container-fluid -->
