<!DOCTYPE html>
<head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="contact-s1" class="contact-s">
    <div id="contact-text">
      <div id="contact-heading">
        CONTACT US
      </div>
      <div id="contact-description-a" class="contact-description">
        Inquire about our business’ services
      </div>
      <div id="contact-description-b" class="contact-description">
        Jose “Joel” Emmanuel Guillermo
      </div>
      <div class="contact-description contact-description-sub contact-description-sub-a">
        SMS/Viber - 0917-508-0907 / 0922-884-9099
      </div>
      <div class="contact-description contact-description-sub contact-description-sub-b">
        Email - jpguillermo@gmail.com
      </div>
      <div id="contact-description-c" class="contact-description">
        Company Numbers
      </div>
      <div class="contact-description contact-description-sub contact-description-sub-a">
        02-332-9999
      </div>
      <div class="contact-description contact-description-sub contact-description-sub-b">
        02-332-1999
      </div>
    </div>
    <div id="emails"></div>
  </section>

  <section>
    <div id="contact-s2-a" class="contact-s2">
      <div class="row">
        <div class="col-md-4">
          <%=image_tag "https://s3.amazonaws.com/royalclass/rcp-fc-min.png", :style => "width: 350px; margin-top: 8.5vh; margin-left:8vw;"%>
        </div>
        <div class="col-md-8">
          <div id="contact-s2-a-text" class="contact-s2-text">royalclasspetroleum@gmail.com</div>
        </div>
      </div>
    </div>

    <div id="contact-s2-b" class="contact-s2">
      <div class="row">
        <div class="col-md-5">
          <%=image_tag "https://s3.amazonaws.com/royalclass/rct-color-min.png", :style => "width: 550px; margin-top: 8.5vh; margin-left:8vw;"%>
        </div>
        <div class="col-md-7">
          <div id="contact-s2-b-text" class="contact-s2-text">royalclasstranscorp@gmail.com</div>
        </div>
      </div>
    </div>

    <div id="contact-s2-c" class="contact-s2">
      <div class="row">
        <div class="col-md-5">
          <%=image_tag "https://s3.amazonaws.com/royalclass/jpgv-color-min.png", :style => "width: 650px; margin-top: 8.5vh; margin-left:8vw;"%>
        </div>
        <div class="col-md-7">
          <div id="contact-s2-c-text" class="contact-s2-text">jpglobalventures@yahoo.com</div>
        </div>
      </div>
    </div>
  </section>

  <div id="address"></div>
  <section id="contact-s3" class="contact-s">
    <center><div id="contact-s3-text">
      <%=image_tag "https://s3.amazonaws.com/royalclass/LocationPin-min.png", :style => "width: 200px;"%>
      <div id="contact-s3-description">
        1 Eligno Street,<br>
        corner Judge Juan Luna,<br>
        San Francisco del Monte,<br>
        Quezon City 1105
      </div>
    </div></center>
    
  </section>


</body>
