<!DOCTYPE html>
<head>
  <nav class="navbar navbar-default navbar-fixed-top" id="index-navbar">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="index-s1" class="index-s">
    <div class="index-text">
      <div class="index-heading">
        OUR COMPANY
      </div>
      <div class="index-description">
        Driven to be the most preferred provider<br>of quality petroleum products<br>and excellent services.
      </div>
      <div class="index-more">
        >>>
      </div>
    </div>
  </section>

  <section id="index-s2" class="index-s">
    <div class="index-text">
      <div class="index-heading">
        PHILOSOPHY
      </div>
      <div class="index-description">
        To exceed customer expectations<br>is our business.
      </div>
      <div class="index-more">
        >>>
      </div>
    </div>
  </section>

  <section id="index-s3" class="index-s">
    <div class="index-logos">
      <center><%=image_tag "https://s3.amazonaws.com/royalclass/rcp-fc.png", :style => "width: 400px; margin-top: 40px;"%></center>
      <center><%=image_tag "https://s3.amazonaws.com/royalclass/rct-color.png", :style => "width: 600px; margin-top: 90px;"%></center>
      <center><%=image_tag "https://s3.amazonaws.com/royalclass/rcd-color.png", :style => "width: 400px; margin-top: 90px;"%></center>
      <center><%=image_tag "https://s3.amazonaws.com/royalclass/jpgv-color.png", :style => "width: 700px; margin-top: 90px;"%></center>
      <center><%=image_tag "https://s3.amazonaws.com/royalclass/rcf-color.png", :style => "width: 400px; margin-top: 90px;"%></center>
    </div>
  </section>

  <section id="index-s4" class="index-s">
    <div class="index-text">
      <div class="index-heading">
        CONTACT US
      </div>
      <div class="index-description">
        Get in touch with us to know more about our<br>services and products.
      </div>
      <div class="index-more">
        SAY HELLO&nbsp;&nbsp;>>>
      </div>
    </div>
  </section>


</body>
