<!DOCTYPE html>
<head>
  <nav class="navbar navbar-default navbar-fixed-top" id="index-navbar">
    <%= render 'pages/navbar' %>
  </nav>
</head>

<body>
  <section id="index-s1" class="index-s">
    <div class="index-text">
      <div class="index-heading">
        OUR COMPANY
      </div>
      <div class="index-description">
        Driven to be the most preferred provider<br>of quality petroleum products<br>and excellent services.
      </div>
      <div class="index-more">
        <%= link_to(company_path, html_options = {class: 'index-more-link'}) do  %>
          >>>
        <% end %>
      </div>
    </div>
  </section>

  <section id="index-s2" class="index-s">
    <div class="index-text">
      <div class="index-heading">
        PHILOSOPHY
      </div>
      <div class="index-description">
        To exceed customer expectations<br>is our business.
      </div>
      <div class="index-more">
        <%= link_to('/company/#company-s3', html_options = {class: 'index-more-link'}) do  %>
          >>>
        <% end %>
      </div>
    </div>
  </section>

  <section id="index-s3" class="index-s">
    <div class="index-logos">
      <center>
        <%= link_to(rcp_path, html_options = {class: 'view-subsidiary-link'}) do  %>
          <%=image_tag "https://s3.amazonaws.com/royalclass/rcp-fc-min.png", :style => "width: 400px; margin-top: 40px;"%>
        <% end %>
      </center>
      <center>
        <%= link_to(rct_path, html_options = {class: 'view-subsidiary-link'}) do  %>
          <%=image_tag "https://s3.amazonaws.com/royalclass/rct-color-min.png", :style => "width: 600px; margin-top: 90px;"%>
        <% end %>
      </center>
      <center>
        <%= link_to(rcd_path, html_options = {class: 'view-subsidiary-link'}) do  %>
          <%=image_tag "https://s3.amazonaws.com/royalclass/rcd-color-min.png", :style => "width: 400px; margin-top: 90px;"%>
        <% end %>
      </center>
      <center>
        <%= link_to(jpgv_path, html_options = {class: 'view-subsidiary-link'}) do  %>
          <%=image_tag "https://s3.amazonaws.com/royalclass/jpgv-color-min.png", :style => "width: 700px; margin-top: 90px;"%>
        <% end %>
      </center>
      <center>
        <%= link_to(rcf_path, html_options = {class: 'view-subsidiary-link'}) do  %>
          <%=image_tag "https://s3.amazonaws.com/royalclass/rcf-color-min.png", :style => "width: 400px; margin-top: 90px;"%>
        <% end %>
      </center>
    </div>
  </section>

  <section id="index-s4" class="index-s">
    <div class="index-text">
      <div class="index-heading">
        CONTACT US
      </div>
      <div class="index-description">
        Get in touch with us to know more about our<br>services and products.
      </div>
      <div class="index-more">
        <%= link_to(contact_path, html_options = {class: 'index-more-link'}) do  %>
          SAY HELLO&nbsp;&nbsp;>>>
        <% end %>
      </div>
    </div>
  </section>


</body>
