<!DOCTYPE html>
<html>
<head>
  <% metamagic site: "Royal Class Group", title: [:site, :title], separator: " | " %>
  <title>Royal Class Group | Our Company</title>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
  </script>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,600' rel='stylesheet' type='text/css'>
  <!-- <%= metamagic %> -->
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'scroll', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'navbar', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'customers', 'data-turbolinks-track' => true %>
</body>
</html>
